<head>
<style>
	input { display:block; }
</style>
</head>

<h2>railsy-er form with form_for</h2>
<%= form_for @user do |f| %>
	<%= f.label 			:username %>
	<%= f.text_field 	:username %>

	<%= f.label 			:email %>
	<%= f.text_field 	:email %>

	<%= f.label 			:password %>
	<%= f.password_field :password %>

	<%= f.submit "submit" %>
<% end %>

<h2>railsy form with form_tag</h2>

<%= form_tag("/users", method: "post") do %>
	<%= label_tag(:username, 	"username:") %>
	<%= text_field_tag(:username) %>

	<%= label_tag(:email,			"email:") %>
	<%= text_field_tag(:email) %>

	<%= label_tag(:password, 	"password:") %>
	<%= password_field_tag(:password) %>

	<%= submit_tag("submit") %>
<% end %>

<h2>html form</h2>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
	
	<label for="username">username:</label>
	<input type="text" 			name="user[username]" id="username">
	
	<label for="email">email:</label>
	<input type="text" 			name="user[email]" 		id="email">
	
	<label for="password">password:</label>
	<input type="password" 	name="user[password]" id="password">
	
	<input type="submit" value="submit">
</form>