<head>
<style>
	input { 
		display: block;	
		margin-bottom: 20px;
	}
</style>
</head>

<h1>NEW view</h1>

<h3>Railsy-er forms with form_for</h3>
<%= form_for @user do |f| %>
	<%= f.label 			:username, 	"Username:" %>
	<%= f.text_field 	:username, 	:value => "user5" %>

	<%= f.label				:email, 		"Email:" 		%>
	<%= f.email_field :email, 		:value	=> "user5@user.us" %>

	<%= f.submit 									"Submit" 		%>

<% end %>

<br><br>
<h3>railsy form with form_tag</h3>

<%= form_tag("/users", method: "post") do %>

	<%= label_tag(:username, "Username:") %>
	<%= text_field_tag(:username, "user4") %>

	<%= label_tag(:email, "Email:") %>
	<%= email_field_tag(:email, "email4@user.us") %>

	<%= submit_tag("submit") %>

<% end %>

<br><br>

<h3>html forms</h3>
<form action="/users" method="post" accept-charset="UTF-8">

	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

	<label for="username">Username:</label> 							
	<input 	type=	"text" 			
					name=	"user[username]"		
					id=		"username"
					value="user4">

	<label for="email">Email:</label>									
	<input 	type=	"email" 		
					name=	"user[email]"			
					id=		"email"
					value="user4@user.us">

	<!-- <div>	
	<label for="password">Password:</label>
	<input 	type=	"password"	
					name=	"password"		
					id=		"password"
					value="foobar">

	<label for="password_confirmation">Password confirmation:</label>
	<input 	type=	"password"	
					name=	"password_confirmation" 
					id=		"password_confirmation"
						value="foobar">
	</div> -->

	<input type="submit" value="submit">
</form>
